html, body {
    margin: 0;
    padding: 0;
    background-color: #d6a4f7;
}

.container {                               /* Center everything */
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

input {
    color: #0a0a0b;                              /*Styles For textbox */
    background-color: #e7e0f4;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

button {
    color: #edd5fd;                               /*Styles for button */
    background-color: #9900ff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-family:'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

img {
    width: 250px;                                     /*styles for image */
    margin: 30px auto;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: monospace;
    font-weight: 100;
    
}

ul li {
    font-size: 1.1rem;
    align-items: left;
    background-color: #edd5fd;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
    flex-flow: wrap;
    flex-grow: 1;
    border-radius: 20px;
}